/* BODY */
.background-section {
    background-image: url(./background.png);
    background-blend-mode: color;
    background-size: contain;
    /* Additional CSS for positioning and sizing the section */
}

/* HEADER */
header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.logo{
    text-align: left;
}

.nav {
    text-align:right;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav ul {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.nav a:hover {
    color: #C271FF;
}

/* MAIN */
.heading{
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.text{
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    word-spacing: 59px;
}

.button-container{
    text-align: center;
}

.custom-button {
    background-color: #C271FF; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
