body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
header {
    margin: 0;
    padding: 0;
    width: 100%;
}
main {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex: auto; /* This ensures <main> grows to fill available space */
    flex-direction: row;
}
article {
    float: left;
    flex: 2;
}
aside {
    float: left;
    flex: 1;
}
footer {
    margin: 0;
    padding: 0;
    width: 100%;
}
article,
aside {
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
}
