body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
header {
    margin: 0;
    background-color: #ce4b4b; /* Change to your preferred background color */
    color: #fff; /* Change to your preferred text color */
    padding: 10px;
    width: 100%;
}
main {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex: auto; /* This ensures <main> grows to fill available space */
    flex-direction: row;
}
article {
    float: left;
    flex: 2;
    font-family: Arial, sans-serif; /* Choose a preferred font */
    color: #ce4b4b; /* Set the text color */
    background-color: #f7f7f7; /* Set the background color */
    padding: 20px; /* Add padding to the content for spacing */
    border-radius: 5px;
}
aside {
    float: left;
    flex: 1;
}
footer {
    margin: 0;
    background-color: #683c3c; /* Change to your preferred background color */
    color: #fff; /* Change to your preferred text color */
    padding: 10px; /* Add some padding to the footer for spacing */
    text-align: center;
    width: 100%;
}
article,
aside {
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
}
.logo {
    font-size: 24px; /* Adjust the size as needed */
    color: #007bff; /* Change the color to your preference */
    padding-right: 10px; /* Add some spacing between the logo and menu items */
  }

